<% include header %>

<div class="container">
  <h1>Be Forward Supporters Kenya</h1>
  <img src="/logo.png" />
  <p class="lead">
    Messenger bot to calculate duty tax of a vehicle imported from another country
  </p>
  <p>
    Enjoy my messenger experience. Viva!
  </p>
</div>

<% include footer %>
